<ol>
    <li><a href="/hackathon/01-presentation.html">Présentation générale</a></li>

    <li><a href="/hackathon/02-install.html">Installation de OpenFun / edX</a></li>

    <li><a href="/hackathon/03-activities.html">Introduction aux types d'activités</a></li>

    <li><a href="/hackathon/03a-xblock.html">Introduction aux XBlocks</a></li>

    <li><a href="/hackathon/03b-js-input.html">Introduction à JS-Input</a></li>

    <li><a href="/hackathon/05-analytics.html">Faire du big data avec OpenFUN</a></li>

    <li><a href="/hackathon/06-design.html">Le thème Open edX</a></li>

    <li><a href="/hackathon/07-mobile.html">L'application Mobile</a></li>

    <li><a href="/hackathon/08-video.html">Le lecteur Vidéo</a></li>
</ol>
