<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="static/stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="static/stylesheets/github-light.css" media="screen">
    <link rel="stylesheet" type="text/css" href="static/stylesheets/print.css" media="print">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>Hack'edX | {{ page.title }}</title>
  </head>

  <body>
    <header>
      <div class="inner">
        <a href="/hackathon"><h1>Hackathon</h1></a>
        <h2>La documentation Hack'edX</h2>
        <a href="https://github.com/openfun/hackathon" class="button"><small>Voir cette doc sur</small> GitHub</a>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
            {{ content }}
        </section>

        <aside id="sidebar">
          <a href="https://github.com/openfun/hackathon/raw/master/static/hackathon.pdf" class="button">
            <small>Télécharger</small>
            fichier .pdf
          </a>
          <a href="https://github.com/openfun/hackathon/zipball/master" class="button">
            <small>Télécharger</small>
            fichier .zip
          </a>
          <a href="https://github.com/openfun/hackathon/tarball/master" class="button">
            <small>Télécharger</small>
            fichier .tar.gz
          </a>

          {% include toc.html %}

          <p class="repo-owner"><a href="https://github.com/openfun/hackathon">Cette documentation</a> est maintenue par <a href="https://github.com/openfun">openfun</a>.</p>

          <p>Cette page a été générée sur <a href="https://pages.github.com">GitHub Pages</a> en utilisant le thème Architect par <a href="https://twitter.com/jasonlong">Jason Long</a>.</p>
        </aside>
      </div>
    </div>

  
  </body>
</html>

